openapi: 3.0.0
info:
  description: |
    ## Overview 

    This is the API description for Sniffie's Products API. 
    - 100 requests per second
    - 200 products per request

    When possible, send max item count instead of one item per request to avoid overflooding the API.

    If your products' variant count is high, you may need to reduce the maxItems count to avoid getting timeouts from the API. 
    The API has a hard limit of 30 seconds, after which it will disconnect the request. 
    When this happens, reduce the amount of items you send at once.

    You can get the token from our customer service, make sure it is in form of {accountId}&&{token}
    
    Any field sent in the request that is not listed in the example will be added to additionalProperties object.
  version: 2.0.0
  title: Sniffie Products API
servers:
  - url: https://api.sniffie.io/v2/account-products
  - url: https://api.sniffie-staging.io/v2/account-products
tags:
  - name: products
    description: Manage products of an account
security:
  - ApiKeyAuth: []
paths:
  /{accountId}/products:
    post:
      tags:
        - products
      summary: Creates or updates (if the same product exists) a product, and a product history item
      description: Inserts a new product row, and a product history row
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/ProductInputList"
                - $ref: "#/components/schemas/ProductInput"
      parameters:
        - name: accountId
          in: path
          description: AccountId of the account in question
          required: true
          schema:
            type: string
      responses:
        200:
          description: successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProductResult"
        400:
          description: Check request, invalid payload
        429:
          description: Too many requests, slow down request rate and retry
        500:
          $ref: "#/components/responses/5XX"
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: Authorization
  responses:
    5XX:
      description: Unexpected error
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
    404:
      description: Item not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
      required:
        - code
        - message
    ProductResult:
      type: object
      properties:
        requestId:
          type: string
          description: Api gateway request Id
        data:
          $ref: "#/components/schemas/ProductInput"
    ProductInputList:
      type: array
      items:
        $ref: "#/components/schemas/ProductInput"
      maxItems: 500

    ProductInput:
      type: object
      required:
        - productId
        - categoryName
        - shopName
        - productName
        - price
        - originalPrice
        - productStatus
        - currency
        - purchasePrice
        - rrp
        - sku
        - stockCount
      properties:
        productId:
          type: string
          description: Unique identifier for the product, within the shop in question
          example: "blue-shirt-1-all-variants"
        categoryName:
          type: string
          description: Category to which the product belongs to
          example: "T-Shirts"
        shopName:
          type: string
          description: Name of the shop
          example: "Acme Inc"
        productName:
          type: string
          description: Name of the product
          example: "The Blue Shirt #1"
        manufacturer:
          type: string
          description: Manufacturer
          example: "Acme"
        productBrand:
          type: string
          description: Brand of the product
          example: "Acme Anvils"
        imageUrl:
          type: string
          description: Url to the image of the product
          example: "www.myacmeshop.fi/imgs/blue-shirt-1-all-variants"
        productUrl:
          type: string
          description: Url to the product page
          example: "www.myacmeshop.fi/products/anvil/blue-shirt-1-all-variants"
        price:
          type: number
          format: decimal
          description: Price expressed as a decimal number (with VAT)
          example: "99.95"
        originalPrice:
          type: number
          format: decimal
          description: Compare at Price / Suggested retail price, expressed as a decimal number of major currency units
          example: "129.99"
        productStatus:
          type: string
          nullable: true
          description: Status of the product, is it active or disabled
          enum:
            - enabled
            - disabled
            - null
          default: enabled
        currency:
          type: string
          description: Three letter currency code as defined by ISO-4217
          format: iso-4217
          example: "EUR"
        purchasePrice:
          type: number
          format: decimal
          description: Cost of the product for the shop (without VAT)
          example: "59.99"
        rrp:
          type: number
          format: decimal
          description: Recommended Retail Price, use originalPrice if unknown
          example: "129.99"
        sku:
          type: string
          description: SKU (stock keeping unit) of the product
          example: "SKU-123456-Y4"
        stockCount:
          type: number
          description: Amount of items available in stock
          example: 90
        taxRate:
          type: number
          format: decimal
          description: Tax rate of the variant being sold
          example: 24.0
        variantId:
          type: string
          description: Unique identifier for the variant, to distinguish it from the other variants
          example: "blue-shirt-1-size-m"
        ean:
          type: string
          description: EAN/UPC. European Article Number / Universal Product code. Unified code for products. https://www.iso.org/standard/46143.html
          example: 0123456789123
        onSale:
          type: boolean
          description: Is the product on discount
          default: false
        stockStatus:
          type: number
          description: Amount of items available in stock
          example: 90
        categories:
          description: Subcategories from smallest to largest (how many other items is there in the same category)
          example: ["iPhones", "Phones", "Electronics"]
        kpiData:
          type: array
          items:
            $ref: "#/components/schemas/KpiDataObject"
          description: "KPI data to be included in the AI processes"
          example:
            [
              {
                "name": "CAC",
                "data":
                  [
                    { "date": "2024-09-30", "value": "10" },
                    { "date": "2024-09-29", "value": "9" },
                  ],
              },
              {
                "name": "pageViews",
                "data":
                  [
                    { "date": "2024-09-30", "value": "459" },
                    { "date": "2024-09-29", "value": "220" },
                  ],
              }
            ]
        additionalProperties:
          type: "object"
          additionalProperties: true
          description: "Additional properties related to this product variant, can be used to filter products in UI, and group them by these values"
          example:
            {
              "additionalAttribute1": "extra attribute",
              "anotherAttribute WithOtherKey": "and some other value",
              "Any Key You Like Related To This Product. Key can include spaces": "And its value here",
              "AndAsManyRelevantKeysHereAndOn": "That are useful to your specific usecases. Please consult Sniffie CS team, what are good values here",
            }
    KpiDataObject:
      type: object
      properties:
        name:
          type: string
          description: Name of the KPI
          example: "CAC"
        data:
          type: array
          maxItems: 30
          items:
            type: object
            properties:
              date:
                type: string
                format: date
                description: Date of the KPI data
                example: "2024-09-30"
              value:
                type: string
                description: Value of the KPI
                example: "10"