openapi: "3.0.1"
info:
  title: "next-external-pricen-data-api"
  version: "1.0"
servers:
- url: "https://next-api.pricen.io/v2/pricen/"
paths:
  /bulk-uploads/orders-upload-link:
    get:
      responses:
        default:
          description: "Upload OrderLine objects in jsonl format"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BulkUploadResponse"
      security:
      - NextExternalLambdaTokenAuthorizer: []
  /bulk-uploads/competitor-upload-link:
    get:
      responses:
        default:
          description: "Upload CompetitorProductVariant objects in jsonl format"
          content:
             application/json:
              schema:
                $ref: "#/components/schemas/BulkUploadResponse"
      security:
      - NextExternalLambdaTokenAuthorizer: []
  /bulk-uploads/store-products-upload-link:
    get:
      responses:
        default:
          description: "Upload StoreProduct objects in jsonl format"
          content:
           application/json:
            schema:
              $ref: "#/components/schemas/BulkUploadResponse"
      security:
      - NextExternalLambdaTokenAuthorizer: []
  /bulk-uploads/stores-upload-link:
    get:
      responses:
        default:
          description: "Upload Store objects in jsonl format"
          content:
           application/json:
            schema:
              $ref: "#/components/schemas/BulkUploadResponse"
      security:
      - NextExternalLambdaTokenAuthorizer: []
  /bulk-uploads/products-upload-link:
    get:
      responses:
        default:
          description: "Upload ProductVariant objects in jsonl format"
          content:
           application/json:
            schema:
              $ref: "#/components/schemas/BulkUploadResponse"
      security:
      - NextExternalLambdaTokenAuthorizer: []
  /bulk-uploads/supplemental-data-upload-link:
    get:
      responses:
        default:
          description: "Upload SupplementalData objects in jsonl format"
          content:
           application/json:
            schema:
              $ref: "#/components/schemas/BulkUploadResponse"
      security:
      - NextExternalLambdaTokenAuthorizer: []
components:
  securitySchemes:
    NextExternalLambdaTokenAuthorizer:
      type: "apiKey"
      name: "Authorization"
      in: "header"
  schemas:
    OrderLineItem:
      description: Send all orders to be updated in a jsonl file, where each json item is in its own row
      type: object
      required:
        - soldFrom
        - orderNumber
        - orderLineNumber
        - createdAt
        - price
        - currency
        - quantity
        - productId
      properties:
        soldFrom:
          type: string
          description: Name of the shop, channel, website, POS. Grouping factor for sales analytics
          example: 'www.acme-inc.com'
        orderNumber:
          type: string
          description: Order number of whole order 
          example: 'ORD9876-11'
        orderLineNumber:
          type: string
          description: Order line number of the product line item 
          example: 'ORD9876-11-1'
        createdAt:
          type: string
          format: datetime
          description: Datetime of the creation date for the order in UTC
          example: '2021-03-20T09:12:28Z'
        price:
          type: number
          format: double
          description: Price what the customer paid for the item (all discounts, taxes and other charges included)
          example: '99.95'
        currency:
          type: string
          description: Three letter currency code as defined by ISO-4217
          format: iso-4217
          example: 'EUR'
        quantity:
          type: number
          description: How many items were sold of this particular sku
          example: '1'
        productId:
          type: string
          description: Unique global identifier for the product, needs to match the gid in the ProductVariant object. Grouping factor for sales analytics
          example: 'product-123'
        sku:
          type: string
          description: Stock keeping unit of the product. This must match the sku in the ProductVariant object
          example: 'SKU-123456-Y4'
        bundleId:
          type: string
          description: If the item is a part of a bundle, this field is used to group the bundles with matching id
          example: "bundle-1"
        taxAmount:
          type: number
          format: double
          description: Amount of tax applied to the line item
          example: '23.99'
        discountAmount:
          type: number
          format: double
          description: Amount of discount applied to the line item
          example: '0.00'
        originalPrice: 
          type: number
          format: double
          description: Original (RRP) price of the line item, including tax and excluding discount
        additionalProperties:
          type: object
          additionalProperties: true
          description: additional properties related to this order
          example:
            vat: 0.255%
        
    ProductVariant:
      description: Send all variants to be updated in a jsonl file, where each json item is in its own row
      type: object
      required:
        - gid
        - groupId
        - groupName
        - price
        - categories
        - currency
        - cogs
        - sku
        - stockCount
        - variantName
      properties:
        gid: 
          type: string
          description: Unique global identifier for the variant, to distinguish it from the other variants. Use sku if no other id is available
          example: 'BLUE-SHIRT-1-M'
        groupId:
          type: string
          description: A grouping id with which the variant is tied to other variants. Used for grouping in analytics and pricing and user interface. Usually a parentProduct's id, if no other groups exist. If no grouping id exists, use gid
        groupName:
          type: string
          description: Name of the group this variant belongs to. Will be used in the user interface to group the variants under the parent and display this value as the group name
          example: 'The Blue Shirt'
        variantName:
          type: string
          description: Name of the variant
          example: 'The Blue Shirt #1, size M'
        price:
          type: number
          format: double
          description: Price what the customer pays (with VAT)
          example: '99.95'
        compareAtPrice:
          type: number
          format: double
          description: Compare at Price / Suggested retail price, expressed as a decimal number of major currency units. Required if onSale is true
          example: '129.99'
        categories:
          type: array
          description: Names of the categories the item is belongs to. Send them in order from highest to lowest. Used as a grouping factor amongst different items. If no category exists send ['All']
          example: ['Tools', 'Anvils']
          items: 
            type: string
        currency:
          type: string
          description: Three letter currency code as defined by ISO-4217
          format: iso-4217
          example: 'EUR'
        sku:
          type: string
          description: SKU (stock keeping unit) of the product. This must match the sku in the orders
          example: 'SKU-123456-Y4'
        cogs:
          type: number
          format: double
          description: All costs related to the product, used to calculate margins. If cogsNotAvailable is true, send 0.01
          example: '22.57'
        cogsCurrency:
          type: string
          description: Provide cogs currency, if the cogs is in another currency other than the default. Three letter currency code as defined by ISO-4217
          format: iso-4217
          example: 'SEK'
        stockCount:
          type: number
          description: Amount of items available in stock. If stockCountNotAvailable is true, send 10000000
          example: 90
        cogsNotAvailable:
          type: boolean
          default: false
          example: true
        parentProductId: 
          type: string
          description: Parent product id, if the variant is a child of a parent product. 
          example: 'product-123'
        variantStatus: 
          type: string
          description: Status of the product, is it active or disabled
          enum: 
            - enabled
            - disabled
            - null
          default: enabled
        stockCountNotAvailable:
          type: boolean
          default: false
          example: true
        ean:
          type: string
          description: European Article Number. Unified code for products. Required for competitor matching
        manufacturer:
          type: string
          description: Manufacturer
          example: 'Acme' 
        productBrand:
          type: string
          description: Brand of the product
          example: 'Acme Anvils'
        imageUrl:
          type: string
          description: Url to the image of the product
        productUrl:
          type: string
          description: Url to the product page
        productType:
          type: string
          description: What kind of a product is it
          example: Tool
        onSale:
          type: boolean
          description: Is the product on sale
          default: false
        dateForPrice:
          type: string
          description: ISO Date for the price, if in the past
          example: '2025-01-17'
        tags:
          type: array
          description: Possible tags to help with grouping, searching and sorting
          example: ['Black Friday 2025', 'Outlet']
          items: 
            type: string
        marginTargetPercentage:
          type: number
          format: double
          description: Target margin percentage for the product
          example: 50.0
        recommendedRetailPrice:
          type: number
          format: double
          description: Recommended retail price for the product
          example: 99.95
        vatRate: 
          type: number
          format: double
          description: Default vat rate in percentile. If multiple vat rates are used, use the supplemental data upload to send the vat rates for each variant per store
          example: 0.24
        inventoryPolicy:
          type: string
          description: Inventory policy for the product, can it continue selling even if the stock runs out
          enum:
            - DENY
            - CONTINUE
          default: CONTINUE
        otherPrices:
          type: array
          description: Any and all other currencies and prices that the product may be sold at
          items:
            $ref: '#/components/schemas/AlternativePrice'
        additionalProperties:
          type: object
          additionalProperties: true
          description: 'additional properties related to this product'
          example:
            decommissionDate: '2025-03-31'
            comment: 'Moved to outlet on 2025-02-01'
    CompetitorProductVariant:
      description: |
        Competitor variant is automatically matched to product variants by their sku. 
        That's why sku is mandatory, along with price and currency and the date when the price was collected. 
        Send all competitor variants to be updated in a jsonl file, where each json item is in its own row
      type: object
      required:
        - gid
        - price
        - competitorName
        - currency
        - sku
        - dateForPrice
      properties:
        gid: 
          type: string
          description: Unique global identifier for the variant, to distinguish it from the other variants. Use sku if no other id is available
          example: 'BLUE-SHIRT-1-M'
        competitorName:
          type: string
          description: Name of the competitor
          example: 'Acme Inc.'
        price:
          type: number
          format: double
          description: Price what the customer pays (with VAT)
          example: '99.95'
        dateForPrice:
          type: string
          description: ISO Date for the price
          example: '2025-01-17'
        currency:
          type: string
          description: Three letter currency code as defined by ISO-4217
          format: iso-4217
          example: 'EUR'
        sku:
          type: string
          description: This must match the SKU of the product in the ProductVariant object to create a match
          example: 'SKU-123456-Y4'
    StoreProduct:
      type: object
      description: A mapping object between store and products. Can be used to provide store specific overriding values e.g. price, group id (groupId) etc. 
      required:
        - storeId
        - gid
      properties:
        storeId:
          type: string
          description: Identifier for the store, must match the store identifier in the Store object
          example: 'store-123'
        gid:
          type: string
          description: Unique global identifier for the product, needs to match the gid in the ProductVariant object
          example: 'product-123'
        groupId:
          type: string
          description: A grouping id with which the variant is tied to other variants. Used for grouping in analytics and pricing and user interface. If no grouping id exists, use gid
        groupName:
          type: string
          description: Name of the group this variant belongs to. Will be used in the user interface to group the variants under the parent and display this value as the group name
          example: 'The Blue Shirt'
        variantName:
          type: string
          description: Name of the variant
          example: 'The Blue Shirt #1, size M'
        price:
          type: number
          format: double
          description: Price what the customer pays (with VAT)
          example: '99.95'
        compareAtPrice:
          type: number
          format: double
          description: Compare at Price / Suggested retail price, expressed as a decimal number of major currency units. Required if onSale is true
          example: '129.99'
        dateForPrice:
          type: string
          description: ISO Date for the price
          example: '2025-01-17'
        categories:
          type: array
          description: Names of the categories the item is belongs to. Used as a grouping factor amongst different items. If no category exists send ['All']
          example: ['Anvils', 'Tools']
          items: 
            type: string
        currency:
          type: string
          description: Three letter currency code as defined by ISO-4217
          format: iso-4217
          example: 'EUR'
        sku:
          type: string
          description: SKU (stock keeping unit) of the product. This must match the sku in the orders
          example: 'SKU-123456-Y4'
        cogs:
          type: number
          format: double
          description: All costs related to the product, used to calculate margins. If cogsNotAvailable is true, send 0.01
          example: '22.57'
        stockCount:
          type: number
          description: Amount of items available in stock. If stockCountNotAvailable is true, send 10000000
          example: 90
        cogsNotAvailable:
          type: boolean
          default: false
          example: true
        variantStatus: 
          type: string
          description: Status of the product, is it active or disabled
          enum: 
            - enabled
            - disabled
          default: enabled
        stockCountNotAvailable:
          type: boolean
          default: false
          example: true
        ean:
          type: string
          description: European Article Number. Unified code for products. Required for competitor matching
        manufacturer:
          type: string
          description: Manufacturer
          example: 'Acme' 
        productBrand:
          type: string
          description: Brand of the product
          example: 'Acme Anvils'
        imageUrl:
          type: string
          description: Url to the image of the product
        productUrl:
          type: string
          description: Url to the product page
        productType:
          type: string
          description: What kind of a product is it
          example: Tool
        onSale:
          type: boolean
          description: Is the product on sale
          default: false
        tags:
          type: array
          description: Possible tags to help with grouping, searching and sorting
          example: ['Black Friday 2025', 'Outlet']
          items: 
            type: string
        marginTargetPercentage:
          type: number
          format: double
          description: Target margin percentage for the product
          example: 50.0
        recommendedRetailPrice:
          type: number
          format: double
          description: Recommended retail price for the product
          example: 99.95
        vatRate: 
          type: number
          format: double
          description: Default vat rate in percentile. If multiple vat rates are used, use the supplemental data upload to send the vat rates for each variant per store
          example: 0.24
        otherPrices:
          type: array
          description: Any and all other currencies and prices that the product may be sold at
          items:
            $ref: '#/components/schemas/AlternativePrice'
        additionalProperties:
          type: object
          additionalProperties: true
          description: 'additional properties related to this product'
          example:
            decommissionDate: '2025-03-31'
            comment: 'Moved to outlet on 2025-02-01'
    AlternativePrice:
      type: object
      required:
        - price 
        - currency
      properties:
        price:
          type: number
          format: double
          description: Price expressed as a decimal number of major currency units
          example: '999.95'
        currency:
          type: string
          description: Three letter currency code as defined by ISO-4217
          format: iso-4217
          example: 'SEK'
        originalPrice:
          type: number
          format: double
          description: Compare at Price / Suggested retail price, expressed as a decimal number of major currency units
          example: '1299.99'
    
    Store:
      description: Send all store data to be updated in a jsonl file, where each json item is in its own row
      type: object
      required:
        - storeName
        - pricingEnabled
      properties:
        storeName:
          type: string
          description: Name of the store
          example: 'Acme Store #1'
        pricingEnabled:
          type: boolean
          description: Is pricing enabled for the store
          example: true
        region:
          type: string
          description: Region where the store is located
          example: 'North America'
        zone:
          type: string
          description: Zone within the region where the store is located
          example: 'West Coast'
        additionalAttributes:
          type: object
          additionalProperties: true
          description: Additional attributes related to the store
          example:
            openingHours: '9am-9pm'
            manager: 'John Doe'
            phone: '+1 555 123 4567'
            address: '123 Main Street, Springfield, IL 62701'
    
    SupplementalData:
      description: Send all supplemental data to be updated for products in a jsonl file, where each json item is in its own row
      type: object
      required:
      - gid
      properties:
        gid:
          type: string
          description: Unique global identifier that matches the product variant to which the data is to be added to
          example: 'BLUE-SHIRT-1-M'
        additionalProperties:
          type: object
          additionalProperties: true
          description: Any number of different attributes and values related to the supplemental data
          example:
            color: "blue"
            size: "M"
            restockDate: "2025-02-01"
            material: "cotton"
            weight: "200g"
    BulkUploadResponse:
      type: object
      properties:
        requestId:
          type: string
          example: "EhpTQixbAi0EMvg="
        data:
          type: object
          properties:
            uploadUrl:
              type: string
              example: "https://name-of-bucket.s3.eu-north-1.amazonaws.com/"
            uploadFields:
              type: object
              properties:
                Content-Type:
                  type: string
                  example: "application/json"
                Content-Encoding:
                  type: string
                  example: "gzip"
                bucket:
                  type: string
                  example: "name-of-bucket"
                X-Amz-Algorithm:
                  type: string
                  example: "AWS4-HMAC-SHA256"
                X-Amz-Credential:
                  type: string
                  example: "ASIAXXX/20250117/some-aws-region-1/s3/aws4_request"
                X-Amz-Date:
                  type: string
                  example: "20250117T092725Z"
                X-Amz-Security-Token:
                  type: string
                  example: "ssijdhfksdjhfkljlsh"
                key:
                  type: string
                  example: "youraccountid/bulk-uploads/supplemental-data/products/COGS-2025-01-17T09:27:25.044Z.jsonl.gz"
                Policy:
                  type: string
                  example: "sfndklaskjldhf"
                X-Amz-Signature:
                  type: string
                  example: "3d93c156f943a2685faf5d87dca11b128f8217173a2826affa0905ccfacb887d"